*{
    box-sizing: border-box;
}
html{
    font-family: Lato,serif;
    color: var(--primary-1);
}

body{
    margin: 0;
    font-size: 1rem;
}

img{
    width: 100%;
} 

footer{
    background-color: rgba(248, 248, 248, 1);
}

.logo{
    font-size: 2.5em;
}

