/* Main Layout */
.main-layout{
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 1044px) minmax(20px, 1fr);
}

.main-layout > *:not(.full){
    grid-column: 2;
}

.main-layout > *.full{
    grid-column: 1 / -1;  
}



