/* Mobile Only */
@media(max-width:840px) {
    .main-nav-list {
        position: fixed;
        top: 0;
        right: 0;
        height: 100dvh;
        background-color: #ffffffd1;
        border-inline-start: 1px solid #ccc;
        box-shadow: -2px 0px 6px 1px #000;
        flex-direction: column;
    }
}


/* SMALL */
@media (min-width: 600px) {
    .main-layout .main-header {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, 140px) minmax(auto, 490px) minmax(20px, 1fr);
    }

    .main-content .card {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "i i"
            "t t"
            "p p"
            "b b";
    }
}

/* MEDIUM */
@media (min-width: 840px) {
    .main-layout .main-header {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, 140px) minmax(auto, 490px) minmax(20px, 1fr);
    }

    .main-content .card {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(auto 255px) 1fr minmax(auto 255px);
        grid-template-areas:
            "i t"
            "i p"
            "i b";
    }
}

/* LARGE */
@media (min-width: 1040px) {

    .main-layout .main-header {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, 490px) minmax(auto, 490px) minmax(20px, 1fr);
    }

    .main-content .card {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "i t"
            "i p"
            "i b";
    }

}