.main-header{
    display: grid;
    height: 133px;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 490px) minmax(auto, 490px) minmax(20px, 1fr);
    align-items: center;
    border-bottom: 10px solid black; 
}


.main-header > .logo{
    grid-column: 2;
}

.main-header > .main-nav{
    grid-column: 3;
}

.main-header{
    background-color:  rgba(41, 41, 41, 1);
    color: var(--primary-2);
}

.main-nav-list li{
    position: relative;
    width: 134px;
    height: 133px;
    text-align: center;
    background-color:  rgba(41, 41, 41, 1);
}

.main-nav-list li{
    border-inline-start: solid 1px black;
}
.main-nav-list li:first-child{
    border-inline-end: solid 1px black ;
}

.main-nav-list li a{
    display: inline-block;
    line-height: 133px;
    text-decoration: none;
    color: var(--primary-2);
    background-color:rgba(41, 41, 41, 1); 
    width: 100%;
    box-shadow: inset 0 -10px 0 0 black;
}

.main-nav-list li::before{
    content:'';
    position: absolute;
    width: 100%;
    opacity: 0;
    top: 92.5%;
    border-bottom: 10px solid green;
}

.main-nav-list li:hover a{
    color: green;
}
.main-nav-list li:hover::before{
    opacity: 1;
}

.logo{
    font-size: 2.5em;
}

.toggle-menu-btn{
    cursor: pointer;
    font-size: 1em;
    width: 30px;
}





