/* Main Content */
.main-content{
    display: grid;
    grid-template-rows: minmax(20px, 1fr) 47x;
    border-top: none;
    padding-top: 80px;
    gap: 80px;
}
.card-container{
    grid-template-rows: 1fr 1fr;
    display: grid;
    gap: 80px;
    grid-row: 1;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto  1fr auto;
    justify-items: start;
    gap: 0 40px;
    grid-template-areas: 
    "i t"
    "i p"
    "i b";
}

.card .card-image{
    grid-area: i;
    height: 100%;
    object-fit: cover;
}

.card-title{
    grid-area: t;
    margin-inline-start: 40px;
    margin-top: 0;
}
.card-text{
    grid-area: p;
    margin-inline-start: 40px;
    margin-top: 0;
}
.card-btn{
    grid-area: b;
    margin-top: auto;
    font-size: 1em;
    margin-inline-start: 40px;
    border-radius: 2em;
    border-style: solid;
    border-color: var(--primary--1);
    color: var(--primary--1);
    padding:0.6em 1.5em;
    letter-spacing: 0.11em;
    cursor: pointer;
}

.card-btn:hover{
    color: green;
    border-color: green;
}

.card-btn:hover::after{
    content: ' →';
}

.post-navigation{
    display: flex;
    text-align: center;
    grid-row: 2;
    height: 33px;
    font-size: 1.125rem;
}

.post-navigation .previous{
    font-size: 1.125rem;
    border: none;
    background-color: white;
    color: var(--primary--1);
    cursor: pointer;    
}

.post-navigation .next{
    font-size: 1.125rem;
    border: none;
    background-color: white;
    color: var(--primary--1);
    cursor: pointer;    
}