/* Main Content */
.main-content{
    display: grid;
    grid-template-rows: minmax(20px, 1fr) 47x;
    border-top: none;
    padding-top: 80px;
    gap: 80px;
}
.card-container{
    grid-template-rows: 1fr 1fr;
    display: grid;
    gap: 80px;
    grid-row: 1;

    /* grid-template-areas: 1px; do */
}

 /* differ from card button (rounded etc) to the others (useablility) */
.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto  1fr auto;
    justify-items: start;
    gap: 0 40px;
}

.card .card-image{
    height: 100%;
    grid-column: 1;
    grid-row: 1/4;
    object-fit: cover;
}

.card-title{
    margin-inline-start: 40px;
    margin-top: 0;
    grid-column: 2;
    grid-row: 1;
}
.card-text{
    margin-inline-start: 40px;
    margin-top: 0;
    grid-column: 2;
    grid-row: 2;
}
.card-btn{
    margin-top: auto;
    font-size: 1em;
    margin-inline-start: 40px;
    border-radius: 2em;
    border-style: solid;
    border-color: var(--primary--1);
    color: var(--primary--1);
    padding:0.6em 1.5em;
    letter-spacing: 0.11em;
    grid-column: 2;
    grid-row: 3;
}

.card-btn:hover{
    color: green;
    border-color: green;
}

.card-btn:hover::after{
    content: ' →';
}

.post-navigation{
    display: flex;
    text-align: center;
    grid-row: 2;
    height: 33px;
    font-size: 1.125rem;
}

.post-navigation .previous{
    font-size: 1.125rem;
    border: none;
    background-color: white;
    color: var(--primary--1);
}

.post-navigation .next{
    font-size: 1.125rem;
    border: none;
    background-color: white;
    color: var(--primary--1);
}